#   _ __   ___  ___  __ _ _ __   __ _
#  | '_ \ / _ \/ __|/ _` | '_ \ / _` |
#  | | | | (_) \__ \ (_| | | | | (_| |
#  |_| |_|\___/|___/\__,_|_| |_|\__,_|

image: node:latest

stages:
  - deploy

deploy:
  stage: deploy
  only:
    - main
  script:
    - yarn
    - git config --global user.email "dev@nosana.io"
    - git config --global user.name "Nosana"
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - npm run publish:public
    # - git push # todo: fix, not working